# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Django
db.sqlite3
local_settings.py
static/
media/

# Node / Next.js
node_modules/
.next/
frontend/out/
frontend/build/

# IDE
.vscode/
.idea/
.DS_Store